$colors: (
   white: #fff,
   cyan: cyan,
   AthensGray:#f9f9fb,
   Charade: #2e303c,
   MineShaft: #363636,
   DustyGray: #999999,
   third: #212121,
   fourth: #212429,
   fifth: #3a3c49,
   six: #464646,
   seven: #cccccc,
   eight: #17191c,
   nine: #d7d7d7,
   ten: #f7f7f7,
   eleven: #131d1c,
   twelve: #cc2127,
   thirteen: #000000,
   fourteen: #424242,
);

// Этот сервис имеет оч ограниченный словарный запас, поэтому цвета будут названы в разнобой.
// https://chir.ag/projects/name-that-color

